.diagram {
  transform: translate(0,0) scale(1);
  height: 100vh;
}
.diagramContainer {
  overflow: hidden;
  background: #fafafa;
  width: 100vw;
  flex-grow: 1;
}
svg.jtk-dragging path {
  stroke-opacity: 0.53;
  stroke-dasharray: 4 4;
}