#dataFlowComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: flex 0.4s;
}
#dataFlowBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button#addNewDataset {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background: steelblue;
}
button#exportData {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: steelblue;
}