#dataFlowComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: flex 0.4s;
}
#dataFlowBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#dataFlowBody .buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100vw;
}
#dataFlowBody .buttons > div {
  width: 45%;
  display: flex;
  flex-direction: row;
}
#dataFlowBody .buttons .left {
  justify-content: flex-start;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
#dataFlowBody .buttons .right {
  justify-content: flex-end;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
#dataFlowBody .buttons button {
  padding-top: 0.5rem;
  background: steelblue;
  margin-left: 2rem;
}
textarea.vegaLitePreview {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 4px #ccc;
  position: absolute;
  height: 25rem;
  width: 30rem;
  bottom: 5rem;
  right: 2rem;
  resize: vertical;
  opacity: 1;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
textarea.vegaLitePreview.hidden {
  opacity: 0;
}